version: "3"

services:
  db:
    image: postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: commercorPostgres123
      POSTGRES_USER: commercorUser
      POSTGRES_DB: commercorDB
